<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/addform.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete an inmate</title>
</head>
<body>
    <button><a href="{{url_for ('index')}}">Back</a></button> <br><br>
    <p>Enter the ID of the inmate you want to delete</p>
    <form  method="POST">
    <label>inmate ID</label>
    <input type="text" id="id" name="id">
    <button type="submit">Submit</button>
    </form>
</body>
</html>