<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmate info</title>
</head>
<body>
    <h3>Inmate id</h3>
    <p>{{inmate.inmateid}}</p>
    <h3>Full name</h3>
    <p>{{inmate.fullname}}</p>
    <h3>Inmate number</h3>
    <p>{{inmate.inmatenumber}}</p>
    <h3>Arrival date</h3>
    <p>{{inmate.arrivaldate}}</p>
    <h3>Sentence time</h3>
    <p>{{inmate.sentence_ime}}</p>
    <h3>Penalty</h3>
    <p>{{inmate.penalty}}</p>
    <h3>Cell ID</h3>
    <p>{{inmate.cellid}}</p>
    <h3>Crime ID</h3>
    <p>{{inmate.crimeid}}</p>
    
</body>
</html>